@font-face {
  font-family: "Druk-Wide-Medium";
  font-style: normal;
  font-weight: normal;
  src: url(../../fonts/Druk-Wide-Medium.woff),
    url(../../fonts/Druk-Wide-Medium.woff2);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(../../fonts/Montserrat-Medium.woff),
    url(../../fonts/Montserrat-Medium.woff2);
}

$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1440px;

body {
  min-width: 375px;
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif, serif;
  color: #fff;
  background-color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  word-wrap: break-word;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  font: inherit;
  margin-right: 16px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;
  border: 0;
  cursor: pointer;
}

// .button:hover,
// .button:focus,
// .button:active {
//   background-color: b;
// }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 92%;
  margin: 0 auto;
}

// ---------------------------------------- page-header --------------------------------

.page-header {
  margin-bottom: 152px;
}

.main-nav {
  display: none;
}

.page-header__wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  vertical-align: middle;
}

.page-header__toggle {
  position: relative;
  margin: 0;
  width: 28px;
  height: 12px;

  cursor: pointer;
  border: none;
  background-color: #000;
}

.page-header__toggle--closed::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 28px;
  height: 2px;

  background-color: #fff;
  box-shadow: 0 6px 0 0 #fff, 0 12px 0 0 #fff;
}

.page-header__toggle--opened {
  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;

    width: 28px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #fff;
  }

  &::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;

    width: 28px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #fff;
  }
}

// ---------------------------------------- page-main --------------------------------

.page-main__title-wrapper {
  width: 83%;
  margin: 0 auto;
  margin-bottom: 380px;
}

.page-main__title {
  font-size: 50px;
  line-height: 45px;
  margin: 0;
}

.page-main__contacts {
  margin-bottom: 80px;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__adress {
  max-width: 47%;
  margin: 0;
}

.contacts__email {
  max-width: 47%;
  margin: 0;
  align-self: end;
}

.about-us {
  margin-bottom: 80px;
}

.title {
  margin: 0;
  font-size: 24px;
}

.about-us__title {
  margin-bottom: 20px;
}

.about-us__text {
  width: 95%;
  margin: 0;
  margin-bottom: 10px;
}

.about-us__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.about-us__communicate {
  max-width: 47%;
  font-weight: bold;
  margin: 0;
}

.about-us__more-about-us {
  max-width: 47%;
  font-weight: bold;
  margin: 0;
}
