@font-face {
  font-family: Druk-Wide-Medium;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Druk-Wide-Medium.woff),url(../../fonts/Druk-Wide-Medium.woff2)
}
@font-face {
  font-family: Druk-Wide-Cyr;
  src: url(../../fonts/DrukWideCyr4.woff),url(../../fonts/DrukWideCyr4.woff2)
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Montserrat-Medium.woff),url(../../fonts/Montserrat-Medium.woff2)
}
body {
  min-width: 375px;
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: Druk-Wide-Cyr,sans-serif,serif;
  color: #fff;
  background-color: #000
}
img {
  max-width: 100%;
  height: auto
}
ul {
  padding: 0;
  margin: 0;
  list-style: none
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer
}
p {
  font-family: Montserrat,sans-serif,serif;
  word-wrap: break-word
}
.button {
  display: inline-block;
  width: 66px;
  height: 66px;
  padding: 0;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  font-family: Montserrat,sans-serif,serif;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer
}
.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.container {
  width: 92%;
  margin: 0 auto
}
@media (min-width:1440px) {
  .container {
    width: 81%
  }
}
.page-header {
  width: 100%;
  margin-bottom: 80px;
  background-color: #000;
  z-index: 1
}
@media (min-width:1440px) {
  .page-header {
    position: fixed;
    margin-bottom: 223px
  }
}
.page-header__wrapper {
  min-height: 100px;
  margin-bottom: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
@media (min-width:1440px) {
  .page-header__wrapper {
    min-height: 130px;
    margin-bottom: 0
  }
}
.page-header__logo {
  width: 170px
}
.logo__image {
  vertical-align: middle;
  width: 65px;
  height: 17px
}
@media (min-width:1440px) {
  .logo__image {
    width: 130px;
    height: 52px
  }
}
.page-header__toggle {
  position: relative;
  margin: 0;
  width: 28px;
  height: 12px;
  cursor: pointer;
  border: none;
  background-color: #000
}
.page-header__toggle--closed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 0 0 #fff,0 12px 0 0 #fff;
  box-shadow: 0 6px 0 0 #fff,0 12px 0 0 #fff
}
.page-header__toggle--opened::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 28px;
  height: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff
}
.page-header__toggle--opened::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 28px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fff
}
@media (min-width:1440px) {
  .page-header__toggle {
    display: none
  }
}
.main-nav {
  display: none
}
@media (min-width:1440px) {
  .main-nav {
    display: block;
    min-width: 570px;
    max-width: 769px
  }
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  font-family: Montserrat,sans-serif,serif;
  line-height: 21px
}
@media (min-width:1440px) {
  .main-nav__list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
}
.main-nav__item {
  margin-bottom: 15px
}
.main-nav__item:last-child {
  margin-right: 0
}
@media (min-width:1440px) {
  .main-nav__item {
    margin-right: 50px
  }
  .main-nav__link {
    position: relative;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
  }
  .main-nav__link:hover::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    -webkit-animation: appearance .5s forwards;
    animation: appearance .5s forwards;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px)
  }
}
@-webkit-keyframes appearance {
  50% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px)
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes appearance {
  50% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px)
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
.page-main__title-wrapper {
  width: 83%;
  margin: 0 auto;
  margin-bottom: 380px
}
@media (min-width:1440px) {
  .page-main__title-wrapper {
    width: 70%;
    margin-bottom: 252px;
    padding-top: 353px
  }
}
.page-main__title {
  font-size: 42px;
  line-height: 51px;
  margin: 0
}
@media (min-width:1440px) {
  .page-main__title {
    font-size: 78px;
    line-height: 100px
  }
}
.page-main__contacts {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
@media (min-width:1440px) {
  .page-main__contacts {
    margin-bottom: 200px
  }
}
.main-contacts__adress {
  max-width: 47%;
  margin: 0
}
@media (min-width:1440px) {
  .main-contacts__adress {
    font-size: 20px;
    line-height: 24px
  }
  .main-contacts__adress br {
    display: none
  }
}
.main-contacts__email {
  max-width: 47%;
  margin: 0;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end
}
@media (min-width:1440px) {
  .main-contacts__email {
    font-size: 20px;
    line-height: 24px
  }
}
.about-us {
  margin-bottom: 80px
}
@media (min-width:1440px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 200px
  }
  .about-us__column-left {
    width: 600px
  }
  .about-us__column-right {
    width: 500px
  }
}
.title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 29px
}
@media (min-width:1440px) {
  .title {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 36px
  }
}
.about-us__title {
  margin-bottom: 26px
}
.about-us__text {
  width: 95%;
  margin: 0;
  margin-bottom: 10px
}
@media (min-width:1440px) {
  .about-us__text {
    width: 100%;
    font-size: 20px;
    line-height: 24px
  }
}
.about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px
}
@media (min-width:1440px) {
  .about-us__wrapper {
    padding-left: 15px;
    margin-top: 74px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}
.about-us__communicate {
  max-width: 47%;
  margin: 0;
  line-height: 19px;
  font-family: Druk-Wide-Cyr,sans-serif,serif
}
@media (min-width:1440px) {
  .about-us__communicate {
    margin-right: 57px
  }
}
.about-us__more-about-us {
  margin: 0;
  line-height: 19px;
  font-family: Druk-Wide-Cyr,sans-serif,serif;
  text-align: right
}
@media (min-width:1440px) {
  .about-us__more-about-us {
    text-align: left
  }
}
.advantages {
  display: none;
  -ms-grid-columns: 47% 47%;
  grid-template-columns: 47% 47%;
  grid-column-gap: 16px;
  text-transform: uppercase
}
@media (min-width:1440px) {
  .advantages {
    -ms-grid-columns: 270px 370px 470px;
    grid-template-columns: 270px 370px 470px;
    grid-row-gap: 160px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
.advantages__media {
  margin-bottom: 100px
}
.advantages__media:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px
}
.advantages__media:nth-child(6) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px
}
.advantages__media:last-child {
  margin-bottom: 142px
}
@media (min-width:1440px) {
  .advantages__media:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: left
  }
  .advantages__media:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    text-align: left
  }
}
.advantages__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 29px;
  color: #bfbfbf
}
@media (min-width:1440px) {
  .advantages__title {
    margin-bottom: 60px;
    font-size: 38px;
    line-height: 46px
  }
}
.advantages__numeral {
  display: inline-block;
  font-family: Druk-Wide-Cyr,sans-serif,serif;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 4px
}
@media (min-width:1440px) {
  .advantages__numeral {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 8px
  }
}
.advantages__description {
  margin: 0;
  font-size: 10px;
  line-height: 12px;
  font-family: Druk-Wide-Cyr,sans-serif,serif
}
@media (min-width:1440px) {
  .advantages__description {
    font-size: 12px;
    line-height: 15px
  }
}
.plr-95 {
  padding: 0 95px
}
.plr-50 {
  padding: 0 50px
}
@media (min-width:1440px) {
  .plr-95 {
    padding: 0
  }
  .plr-50 {
    padding: 0
  }
}
.cases {
  position: relative;
  margin-bottom: 80px
}
.cases__button-wrapper {
  display: none
}
.cases__button {
  width: 126px;
  height: 126px
}
@media (min-width:1440px) {
  .cases__button-wrapper {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 415px
  }
  .cases__card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
.cases__card {
  margin-bottom: 30px
}
@media (min-width:1440px) {
  .cases__column-left {
    width: 540px
  }
  .cases__column-right {
    width: 570px
  }
  .card__image-little {
    width: 540px
  }
  .card__image-big {
    width: 570px
  }
}
.cases__title {
  margin: 0;
  margin-bottom: 20px
}
.card__title {
  margin-top: 10px;
  margin-bottom: 2px;
  line-height: 19px;
  font-family: Druk-Wide-Cyr,sans-serif,serif
}
.card__subtitle {
  font-size: 12px;
  line-height: 15px;
  margin: 0
}
.cases__text-btn {
  position: relative;
  display: inline-block;
  padding: 0 18px 0 47px;
  text-align: left
}
.cases__text-btn::before {
  position: absolute;
  content: "";
  top: -10px;
  left: 36px;
  width: 1px;
  height: 54px;
  background-color: #fff
}
.arrow {
  position: absolute;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.cases-arrow-position {
  bottom: 35px;
  left: 34px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.assets__title {
  margin-left: 15px;
  margin-right: 15px
}
@media (min-width:1440px) {
  .assets {
    background-color: #001cad
  }
  .assets__title {
    margin-left: 34px;
    padding-top: 34px;
    margin-bottom: 56px
  }
}
.assets__wrapper {
  padding: 40px 15px;
  background-color: #001cad
}
@media (min-width:1440px) {
  .assets__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    padding: 0;
    padding-left: 15px;
    padding-bottom: 152px
  }
}
.assets__card {
  position: relative;
  display: inline-block;
  width: 165px;
  margin-right: 15px;
  margin-bottom: 15px
}
.assets__card:last-child {
  margin-right: 0;
  margin-bottom: 0
}
.assets__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15,15,16,.75)
}
@media (min-width:1440px) {
  .assets__card {
    min-width: 240px;
    height: 494px;
    margin-right: 30px
  }
}
.assets__image {
  display: block
}
@media (min-width:1440px) {
  .assets__image {
    width: 240px;
    height: 494px
  }
}
.assets__text {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 28px);
  margin: 0;
  font-size: 20px
}
@media (min-width:1440px) {
  .assets__text {
    top: calc(50% - 15px);
    left: calc(50% - 35px);
    line-height: 30px;
    font-size: 25px
  }
}
.clients {
  margin-bottom: 40px
}
.clients__title {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px
}
@media (min-width:1440px) {
  .clients__title {
    margin: 134px auto 50px 135px
  }
}
.clients__wrapper {
  height: 316px;
  background-image: url(../../../img/clients-name-whole.png);
  background-position-x: -900px
}
@media (min-width:1440px) {
  .clients__wrapper {
    margin-bottom: 134px
  }
}
.page-footer {
  background-color: #001cad
}
@media (min-width:1440px) {
  .page-footer__container {
    padding-top: 76px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 270px 500px;
    grid-template-columns: 270px 500px;
    grid-template-areas: "title  form" "contacts  form";
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
.page-footer__wrapper {
  grid-area: contacts
}
@media (min-width:1440px) {
  .page-footer__wrapper {
    margin-top: -50px;
    font-size: 20px;
    line-height: 24px
  }
}
.page-footer__title {
  padding-top: 40px;
  margin-left: 15px
}
@media (min-width:1440px) {
  .page-footer__title {
    padding-top: 0;
    margin: 0;
    grid-area: title;
    align-self: baseline
  }
}
.page-footer__form {
  margin-bottom: 80px;
  padding-left: 44px;
  padding-right: 44px
}
.form {
  position: relative
}
@media (min-width:1440px) {
  .form {
    grid-area: form;
    margin-bottom: 80px;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 242px 15px 242px;
    grid-template-columns: 242px 242px;
    grid-template-areas: "area-name  area-email" "area-phone  area-question" "area-message area-message";
    grid-column-gap: 15px;
    align-self: baseline
  }
}
@media (min-width:1440px) {
  .page-footer__wrapper {
    -ms-grid-row: 2;
    -ms-grid-column: 1
  }
  .page-footer__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }
  .form {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2
  }
}
.form__input-wrapper {
  margin-bottom: 10px
}
.form__input-wrapper input,
.form__message {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  color: #fff;
  background-color: #0024dc;
  border: none
}
.form__message::-webkit-input-placeholder,
.input-text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 15px;
  font-family: Montserrat,sans-serif,serif;
  color: #fff
}
.form__message::-moz-placeholder,
.input-text::-moz-placeholder {
  font-size: 12px;
  line-height: 15px;
  font-family: Montserrat,sans-serif,serif;
  color: #fff
}
.form__message:-ms-input-placeholder,
.input-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 15px;
  font-family: Montserrat,sans-serif,serif;
  color: #fff
}
.form__message::-ms-input-placeholder,
.input-text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 15px;
  font-family: Montserrat,sans-serif,serif;
  color: #fff
}
.form__message::placeholder,
.input-text::placeholder {
  font-size: 12px;
  line-height: 15px;
  font-family: Montserrat,sans-serif,serif;
  color: #fff
}
.area-name {
  grid-area: area-name
}
.area-phone {
  grid-area: area-phone
}
.area-email {
  grid-area: area-email
}
.area-question {
  grid-area: area-question
}
.area-message {
  grid-area: area-message
}
@media (min-width:1440px) {
  .area-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }
  .area-phone {
    -ms-grid-row: 2;
    -ms-grid-column: 1
  }
  .area-email {
    -ms-grid-row: 1;
    -ms-grid-column: 3
  }
  .area-question {
    -ms-grid-row: 2;
    -ms-grid-column: 3
  }
  .area-message {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3
  }
}
.form__message {
  min-height: 138px;
  padding-left: 8px;
  padding-right: 8px;
  resize: none
}
@media (min-width:1440px) {
  .form__message {
    min-height: 171px
  }
}
.form__button-wrapper {
  position: absolute;
  bottom: -40px;
  right: 30px
}
@media (min-width:1440px) {
  .form__button-wrapper {
    position: absolute;
    bottom: -30px;
    right: -63px
  }
}
.form__button {
  position: relative;
  width: 126px;
  height: 126px
}
.form__button:hover .modify-text-btn {
  display: none
}
.form__button:hover .arrow {
  display: none
}
.form__button:hover::before {
  position: absolute;
  content: "";
  top: 66%;
  left: calc(50% - 25px);
  width: 29px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(37deg);
  -ms-transform: rotate(37deg);
  transform: rotate(37deg)
}
.form__button:hover::after {
  position: absolute;
  content: "";
  top: 57%;
  left: calc(50% - 9px);
  width: 54px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-49deg);
  -ms-transform: rotate(-49deg);
  transform: rotate(-49deg)
}
.modify-text-btn {
  position: relative;
  display: inline-block;
  word-wrap: break-word
}
.modify-text-btn::before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 3px;
  width: 54px;
  height: 1px;
  background-color: #fff
}
.form-arrow-position {
  bottom: 41.6px;
  right: 39px
}
.page-footer__contacts {
  margin: 0 auto;
  text-align: center;
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 64px
}
@media (min-width:1440px) {
  .page-footer__contacts {
    text-align: left;
    padding: 0;
    margin-bottom: 60px
  }
}
.footer-contacts__tel {
  margin: 0;
  margin-bottom: 10px
}
.footer-contacts__email {
  margin: 0;
  margin-bottom: 6px
}
.footer-contacts__adress {
  margin: 0;
  margin-bottom: 10px
}
.copyrite {
  margin: 0 auto;
  text-align: center;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 40px
}
@media (min-width:1440px) {
  .page-footer__copyrite {
    grid-area: copyrite;
    text-align: left;
    padding: 0
  }
}
.copyrite__text {
  margin: 0
}